body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }
img,object form input{border:0px;}
div,dl,dt,dd,ol,ul,b,li{ margin:0 auto; padding:0;list-style:none;}
A:link { COLOR: #000000; text-decoration: none; }
A:visited {COLOR: #000000; text-decoration: none;}
A:hover { COLOR: #FF0000; text-decoration: none; }
A:active {COLOR: #FF0000; text-decoration: none;}

td { font-size:12px; font-family:"宋体"; margin:0px; }

/*统计数据的小字体*/
.small_font { font-size:10px; -webkit-text-size-adjust:none;}
 
/*模拟选号-按钮*/
.mx_open { background-image:url(../imgs/open.jpg); background-repeat:no-repeat; border:none; width:119px; height:25px; background-color:transparent; margin-left:25px; cursor:pointer; }
.mx_close { background-image:url(../imgs/close.jpg); background-repeat:no-repeat; border:none; width:119px; height:25px; background-color:transparent; margin-left:25px; cursor:pointer; }

.img1 { margin-right: 3px; margin-left: 3px; }

/*走势图—图表*/
.tb_table { border: 1px solid #CCCCCC; border-collapse: collapse; font-size: 12px; background-color: #f2f2f2;}
.tb_table td { border: 1px solid #CCCCCC; text-align: center; height: 20px; line-height:20px; }

.clear {clear:both; height:0; overflow:hidden; display:block;}
 
.HighSelectDisplay{position:fixed; _position:absolute;   z-index:1000; top:50%; left:50%; z-index:1000;  margin-left: -330px; }/*firefox*/ 
* html .HighSelectDisplay {position:fixed; _position:absolute;   z-index:1000; margin-top: 70px; margin-left: 10px;}/*ie6*/ 
*+html .HighSelectDisplay {position:fixed; _position:absolute;   z-index:1000; margin-top: 70px; margin-left: 10px;}/*ie7*/ 

.divct{margin: auto; width: 980px;}
/*投注悬浮窗口 start*/
#quick_buyDivId{position:fixed;right:0px;bottom:0px;overflow:hidden;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
/*投注悬浮窗口 end*/
h1{font-size:100%; font-weight: normal;display: inline;} 